.nav-link{
    color: white!important;
    text-align: center;
    background-color: #633674!important;
    padding: 28px!important;
    margin: 0 2px;
    border-top-left-radius: 16px!important;
    border-top-right-radius: 16px!important;
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;
    transition: 0.12s!important;
}

.nav-link:hover {
    background-color: #7d3d94!important;
    padding: 32px 28px 28px 28px!important;
    border-bottom-left-radius: 10px!important;
    border-bottom-right-radius: 10px!important;
}

.nav-link.active{
    background-color: #7d3d94!important;
    padding: 35px 28px!important;
    border-bottom-left-radius: 20px!important;
    border-bottom-right-radius: 20px!important;
}

.nav-pills {
    width: 90%;
}

.nav-item {
    flex-grow: 1;
}

.linkbg {
    height: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
}